<!--
This HTML program will ask the user for a number, and multiply that number
until it is bigger than 1000, displaying the number after each multiplication
-->

<body>
	
	<var name="count" value=1></var>
	<p value="start value: "></p>
	<input type="num" name="count"></input>
	<p value="Count: $count\n"></p>
	
	<div name="loop">
		
		<q type="mul" in1="count" in2=2 out="count"></q>
		
		<!--
		<time wait=0.5>
		-->
		
		<p value="Count: $count\n"></p>
		<a href="loop" test="count<=1000" ></a>
		
	</div>
	
	<p value="Program end.\n"></p>
	
</body>
